@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600,700&display=swap');
html{
    font-family: 'Hind Vadodara', sans-serif;
}

.App {
  text-align: center;
}
  
.App-logo {  
  height: 40vmin;
}
  
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
.App-link {
   color: #09d3ac;
}

.ja h3{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.jb h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.jc h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
  
.jd h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

#user-ui .form-phase{
    font-family: 'Planewalker';
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.76); 
    color:#c5c29e;
}

#user-ui{
  font-family: 'Planewalker';
  font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.767); 
  color:#cac9bb;
  bottom: 0px;
}

#user-ui button{
  font-family: 'Planewalker';
  background-color: black;
  color:#c5c29e;
  border:solid #b2ab92 1px;
  margin:5px 0px 10px 0px ;
}

#user-ui input{
  font-family: 'Planewalker';
  background-color: #534f44;
  border:solid white 1px;
  color: #c4c2b3;
  font-weight: bold;
  text-shadow: 1px 1px 7px black;
  padding: 0px 0px 0px 5px;
}

#answer-attack{
  font-family: 'Planewalker';
  font-weight: lighter;
  background-color: rgba(0, 0, 0, 0.767); 
  color:#c5c29e;
}

#answer-attack input{
  font-family: 'Planewalker';
  background-color: #534f44;
  border:solid white 1px;
  color: #c4c2b3;
  font-weight: bold;
  text-shadow: 1px 1px 7px black;
  padding: 0px 0px 0px 5px;
}

#answer-attack button{
  font-family: 'Planewalker';
  background-color: black;
  color:#c5c29e;
  border:solid #b2ab92 1px;
  margin:5px 0px 10px 0px ;
}

#answer-attack-infos-container{
  background-color: rgba(0, 0, 0, 0.76);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 50vh;
}

#answer-attack{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.664);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

