@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400,500,600,700&display=swap');
html{
    font-family: 'Hind Vadodara', sans-serif;
}


.App {

    text-align: center;
  
  }
  
  ​
  
  .App-logo {
  
    height: 40vmin;
  
  }
  
  ​
  
  .App-header {
  
    background-color: #282c34;
  
    min-height: 100vh;
  
    display: flex;
  
    flex-direction: column;
  
    align-items: center;
  
    justify-content: center;
  
    font-size: calc(10px + 2vmin);
  
    color: white;
  
  }
  
  ​
  
.App-link {
   color: #09d3ac;
}
  
.champsDisabled{
  display: none;
}

.champs{
  background-image:url('./images/bacteria.png');
  
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border{
  box-shadow: 1px 1px 1px black;
width: 300px;
height: 600px;
background: linear-gradient(#f0ca21, #e5ac14);
}

.ja h3{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.jb h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }


.jc h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  
.jd h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
=======
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
