.container-attack-phase{
    width: 100%;
}
.attack-phase{
    margin:auto;
    border:solid;
    min-width: 500px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.dices-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dices-container h3{
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}


.dices-container input{
    height: 20px;
    width: 50px;
    text-align: center;
}

#list-attackers, #list-defenders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
}
#fight-button{
    width:30% ;
}
