html, body, #root, .App{
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.tout{

}


#Cerveau1{ height: 140px;
  width: 200px;
   background-color : coral ;
 border:solid black 2px; 
 display: inline-block;


  }
  #Cerveau2{ height: 140px;
    background-color : coral ;
  border:solid black 2px; 
  width: 200px;
  display: inline-block;
}
  #Cerveau3{height: 140px;
    background-color : coral ;
    border:solid black 2px; 
    width: 200px;
    display: inline-block;
  }
  #Cerveau4{height: 140px;
    background-color : coral ;
    border:solid black 2px; 
    width: 200px;
    display: inline-block;
  }
  #Cerveau5{height: 140px;
    background-color : coral ;
    border:solid black 2px; 
    width: 200px;
    display: inline-block;
  }
  #Cerveau6{height: 140px;
    background-color : coral ;
    border:solid black 2px; 
    width: 200px;
    display: inline-block;
  }




  .Poumondroit{  position:relative;
   
  }


  
  #Poumondroit1{ 
    width: 200px;
    height: 140px;
    background-color: red ;
    border:solid black 2px;
    display: inline-block; 
  }
  #Poumondroit2{ height: 140px;
    background-color: red ;
    border:solid black 2px; 
    width: 200px;
    display: inline-block;
  }
  #Poumondroit3{ height: 140px;
    background-color: red ;
    border:solid black 2px; 
    width: 200px;
    display: inline-block;
  }

  





  .Poumongauche{  position:relative;
  }


  #Poumongauche1{height: 140px;
    
  width: 200px;
    background-color: white ;
    border:solid black 2px;
    display: inline-block; 
  }
  #Poumongauche2{height: 140px;
    background-color: white ;
    border:solid black 2px; 
    width: 200px;
    display: inline-block;
  }
  #Poumongauche3{height: 140px;
    background-color: white ;
    border:solid black 2px; 
    width: 200px;
    display: inline-block;
  }
  





  
  #Coeur{position:relative;  }
  
   #Coeur1{height: 140px;
    width: 200px;
    background-color: blue ;
    border:solid black 2px;
    display: inline-block; 
  }
   #Coeur2{height: 140px;
    background-color: blue ;
    border:solid black 2px; 
    width: 200px;
    display: inline-block;
  }
 
 





   #Foie{ position:relative;  }
 
   #Foie1{ height: 140px;
    width: 200px;  
    background-color: brown ;
    border:solid black 2px;
    display: inline-block; 
  }
   #Foie2{ height: 140px;
    width: 200px;
    background-color: brown ;
    border:solid black 2px;
    display: inline-block; 
  }

   #Foie3{ height: 140px;
    width: 200px;
    background-color: brown ;
    border:solid black 2px;
    display: inline-block; 
  }
 
   #Rein{ position:relative; 
  
}
   #Rein1{height: 140px;
    width: 200px;
    background-color: chocolate ;
    border:solid black 2px; 
    display: inline-block;
  }
   #Rein2{height: 140px;
    width: 200px;
    background-color: chocolate ;
    border:solid black 2px; 
    display: inline-block;
  }
   #Rein3{height: 140px;
    width: 200px;
    background-color: chocolate ;
    border:solid black 2px; 
    display: inline-block;
  }
 
  


 
 
   #Estomac{ position:relative; 
  
  }
   #Estomac1{height: 140px;
    width: 200px;
    background-color: violet ;
    border:solid black 2px; 
    display: inline-block;
  }
   #Estomac2{height: 140px;
    width: 200px;
    background-color: violet ;
    border:solid black 2px; 
    display: inline-block;
  }
 
 
 
 
   #Grosintestin{ position:relative;
  
  }
    #Grosintestin1{ height: 140px;
      width: 200px;
      background-color: chartreuse ;
      border:solid black 2px; 
      display: inline-block;
    }
    #Grosintestin2{ height: 140px;
      width: 200px;
      background-color: chartreuse ;
      border:solid black 2px; 
      display: inline-block;
    }
    #Grosintestin3{ height: 140px;
      width: 200px;
      background-color: chartreuse ;
      border:solid black 2px; 
      display: inline-block;
    }
 
 
 
 
 
 
 
    #Petitintestin{ position:relative;
    
    }
   #Petitintestin1{ height: 140px;
    width: 200px;
    background-color: crimson ;
    border:solid black 2px; 
    display: inline-block;
  }
   #Petitintestin2{ height: 140px;
    width: 200px;
    background-color: crimson ;
    border:solid black 2px; 
    display: inline-block;
  }
   #Petitintestin3{ height: 140px;
    width: 200px;
    background-color: crimson ;
    border:solid black 2px; 
    display: inline-block;
  }
   #Petitintestin4{ height: 140px;
    width: 200px;
    background-color: crimson ;
    border:solid black 2px; 
    display: inline-block;
  }


.carte{
  width: 700px;
  margin: auto;
}






 
 

