html, body, #root, .App{
  height: 100%;
  margin:0px;
  padding:0px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#phase-interface{
  position: fixed;
  bottom:0px;
  left:0px;
  min-width: 300px;
  width: 400px;
}








 
 

