.movepawns-phase{
    border:solid 1px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.number-pawns-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.number-pawns-container h3{
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}


.number-pawns-container input{
    height: 20px;
    width: 50px;
    text-align: center;
}

#list-territories-start, #list-territories-arrive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
}
#move-pawns-button{
    width:30% ;
}

