.player-turn{
    position: fixed;
    bottom:0px;  
    right:0px;  
    width: 330px;
    border:solid black 1px;
}

#players_colors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_case{
    display: flex;
    margin-bottom: 3px;
}
.case_color{
    border:solid black 1px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
